* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* background-color: rgb(37, 35, 35); */
}

.container,
.btn {
  /* margin: 10px; */
  padding: 10px;
}

.dogimg {
  height: 500px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
}

.button {
  position: absolute;
  top: 580px;
  left: 49%;
}

h2 {
  background-image: linear-gradient(to right, red, yellow);
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px;
  border-radius: 10%;
}
